@import url("https://rsms.me/inter/inter.css");

html,
body {
  background-color: #f9fafb;
}

.number {
  font-feature-settings: "ss01";
}

.logo {
  background-color: #053860;
}

.tooltip {
  opacity: 1 !important;
  border-radius: 6px !important;
  padding: 5px 8px!important;
}
